h3 {
  background-color: grey;
  color: white;
  padding: .7rem;
  font-size: 15px;
  margin: 0;

}

mat-card-content {
  margin-left: 30px;
  border-top: solid 1px rgb(241, 241, 241);
  padding-top: 1rem;
}

mat-card-header {
  color: rgb(86, 128, 193)
}

mat-list-item {
  background: rgb(246, 246, 246)
}

a {
  cursor: pointer;
}